node_modules/
.next/
/.vercel/
.env
.env.local
.DS_Store
.idea/
.vscode/
pnp.js
pnp.cjs
pnpm-lock.yaml
dist/
coverage/
prisma/dev.db
/.turbo/
public/build/
*.lognode_modules
.next
.env
.env.local
*.tsbuildinfo
.DS_Store
